Kada je rec o samom kalkulatoru nije dozvoljeno koriscenje zagrada.

Deljenje sa nulom nije moguce,dok u programu pose da je beskonacno.
