Kada je rec o samom kalkulatoru nije dozvoljeno koriscenje zagrada.

Deljenje sa nulom nije moguce,dok u programu pise da je beskonacno.
